*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgba(34, 233, 216, 0.577);
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px --5px rgb(0, 0, 0/ 30%);
}
form{
background-color:rgba(34, 233, 216, 0.577);
margin: auto;
width: 100%;
max-width: 600px;
padding: 4.5em 3em;
border-radius: 10px;
box-shadow: 0 5px 10px --5px rgb(0, 0, 0/ 30%);
text-align: center;
}


